include ./_mixins.pug

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/css/app.css")
    title Project Dashboard
  body
    .container
      aside
        .logo
          img(src="assets/img/logos/bhee.png", alt="")
        +sideIconItems("home.svg","home")
        +sideIconItems("squares.svg","home")
        +sideIconItems("date.svg","home")
        +sideIconItems("chat.svg","home")
        +sideIconItems("countdown.svg","home")
        +sideIconItems("account.svg","home")
        +sideIconItems("settings.svg","home")
        .expand-menu
          img(src="assets/img/icons/more.svg", alt="")
      .menu
        .nav
          .nav_title
            p Projects
          .nav-list
            +navMenu("all", 87)
            +navMenu("current", 6)
            +navMenu("pending", 2)
            +navMenu("completed", 79)
            +navMenu("failed",1)
          .nav_icons
            img(src="assets/img/icons/search.svg", alt="")
            img(src="assets/img/icons/notification.svg", alt="")
            img(src="assets/img/profiles/github.jpeg", alt="")
        main
          .display-list
            .search-bar
              input(type="text")
            .sort
              input(type="button", value="Progress")